.header{
  display: flex;
  justify-content: space-between;
  height: 58px;
  padding: 28px 48px 56px;
}

@media screen and (max-width: 425px) {
  .header{
    height: 42px;
    padding: 16px 16px 48px;
  }
}