.lead__title {
  width: 720px;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  margin: auto;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}