.image-caption__image {
  max-width: 984px;
  max-height: 615px;
  text-align: center;
  object-fit: cover;
}

@media screen and (max-width: 1180px) {
  .image-caption__image {
    max-width: 928px;
    max-height: 580px;
    margin: auto;
  }
}

@media screen and (max-width: 930px) {
  .image-caption__image {
    max-width: 100%;
    max-height: 480px;
  }
}
