.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  margin: auto;
  padding: 32px 66px 0;
  text-align: center;
  width: 640px;
}

@media screen and (max-width: 425px) {
  .lead__subtitle{
    font-size: 16px;
    line-height: 125%;
    width: 288px;
    padding: 16px 0 0;
  }
}
