.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 740px;
  max-width: 1184px;
  margin: auto;
  text-decoration: none;
  color: #FFF;
  box-sizing: border-box;
  z-index: 1;
}

.cover__overlay:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1180px) {
  .cover__overlay {
    height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 800px) {
  .cover__overlay {
    height: 480px;
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    height: 200px;
    max-width: 320px;
  }
}