.cover__title {
  margin: 0;
  max-width: 560px;
  font-weight: bold;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  padding-bottom: 32px;
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
  }
}
